            <div class="header">
                    <span class="text-left"><h1>BOOKLE</h1></span>
                    <span class="text-right"><h1>REBORN</h1></span>
            </div>
                <img class="img" src="/style/owl-logo.svg">
                <nav class="navbar left-nav" >
                    <div class="container-fluid">
                        <div>
                            <a class="nav-link active ahov" id="hov"  style="position: relative;left: 20%;font-weight: 600;font-size: xx-large;z-index: 0;" href="...">На головну</a>
                        </div>
                        <div>
                            <a class="nav-link ahov" id="hov"  style="position: relative;right: 0%;font-weight: 600;font-size: xx-large;z-index: 0;" href="...">Баланс</a>
                        </div>
                    </div>
                  </nav>
                <nav class="navbar right-nav">
                    <div class="conteiner-fluid">
                        <form class="d-flex" id="form" role="search">
                            <input class="form-control me-2 " id="inp" type="search" placeholder="Пошук..." aria-label="Search">
                            <button class="btn" id="success" type="submit">Пошук</button>
                        </form>
                    </div>
                </nav>